<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cute Pet Photos</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ '/styles/tailwind.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/main.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/flexbox.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/grid.css' | url }}">
    </head>

    <body>
        <header>
        <h1><b>Cute Pet Photos</b></h1>
        <img src ="/logo.jpeg" alt="Cute Pet Photos">
        <nav>
            
            <b><a href="/">Home</a></b>
            <b><a href="/aboutUs">About Us</a></b>
            <b><a href="https://github.com/ryan-broguiere/cpsc349-project2">Contact</a></b>
    
        </nav>
        </header>

        {{content}}

        <footer>
            <nav>
                <ul>
                <h2>Pages<h2>
                <li><a href ="/paginate">(1-10)</a></li>
                <li><a href ="/paginate/1">(11-20)</a></li>
                <li><a href ="/paginate/2">(21-30)</a></li>
                <li><a href ="/paginate/3">(31-40)</a></li>
                <li><a href ="/paginate/4">(41-50)</a></li>
                <li><a href ="/paginate/5">(51-60)</a></li>
                <li><a href ="/paginate/6">(61-70)</a></li>
                <li><a href ="/paginate/7">(71-80)</a></li>
                <li><a href ="/paginate/8">(81-90)</a></li>
                <li><a href ="/paginate/9">(91-100)</a></li>
                </ul>        
            </nav>
           
            <p>
                <b>CS 349 Project 2</b><br>
            </p>
        
            <p>
                Photo Credit:
                <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                    Unsplash.com 
                </a><br>
            </p>
        
            <p>
                <a href="https://github.com/ryan-broguiere/cpsc349-project1">
                    Github Link
                </a><br>
            </p>
        
            <p>
                <a href="https://unsplash.com/license">
                    Copyright Policy
                </a>
            </p>

        </footer>
    </body>
</html>