<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cute Pet Photos</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ '/styles/tailwind.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/main.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/flexbox.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/grid.css' | url }}">
    </head>

    <body>
        <div class="logo">
            <h1logo><b>Cute Pet Photos</b></h1logo>
            <img src ="/logo.jpeg" alt="Cute Pet Photos">
        </div>

        <nav>
            <hr class="solidblack">
            <ol class="head">
                <naviItem><b><a href="/">🏠Home</a></b></naviItem>
                <naviItem><b><a href="/aboutUs">✌️About Us</a></b></naviItem>
                <naviItem><b><a href="https://github.com/ryan-broguiere/cpsc349-project2">📝Contact</a></b></naviItem>
            </ol>
            <hr class="solidblack">
            
            <ul>
            <div class="button-alignment">
                <button><a href ="/paginate">1-10</a></button>
                <button><a href ="/paginate/1">11-20</a></button>
                <button><a href ="/paginate/2">21-30</a></button>
                <button><a href ="/paginate/3">31-40</a></button>
                <button><a href ="/paginate/4">41-50</a></button>
                <button><a href ="/paginate/5">51-60</a></button>
                <button><a href ="/paginate/6">61-70</a></button>
                <button><a href ="/paginate/7">71-80</a></button>
                <button><a href ="/paginate/8">81-90</a></button>
                <button><a href ="/paginate/9">91-100</a></button>
            </div>
            </ul>     
        </nav>
       

        {{content}}

        <footer>
            <hr class="solidblack">
            <div class="foot">
            <p>
                <b>CS 349 Project 2</b><br>
            </p>
        
            <p>
                Photo Credit:
                <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                    Unsplash.com 
                </a><br>
            </p>
        
            <p>
                <a href="https://github.com/ryan-broguiere/cpsc349-project2">
                    Github Link
                </a><br>
            </p>
        
            <p>
                <a href="https://unsplash.com/license">
                    Copyright Policy
                </a>
            </p>
            </div>
        </footer>
    </body>
</html>