/* body {
    color: blue;
  } */

.pag {
  align-items: center;
  flex-wrap: wrap;
  margin: 40px auto 0 auto;
}

.pagItem {
  box-sizing: border-box;
  width: 20%;
}

@media (min-width: 900px) {
  .pag {
    display: flex;
    justify-content: space-between;
  }
}
