/*header {
  background: purple
}*/

.pag {
  /* background-color: blue; */
  flex-wrap: wrap;
  margin: 40px auto 0 auto;
  max-width: 1400px;
  text-align: center;
  align-items: center;
  color: blue;
}

.pagItem {
  padding: 10px;
  box-sizing: border-box;
  flex-basis: 30%;
  margin: auto;
}

@media (min-width: 600px) {
  .pag {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
    padding: 20px;
    background: #f9f7f7;
    text-align: center;
    margin: 30px;
    font-size: 40px;
    color: black;
}

.head {
  padding: 10px;
  color: blue;
  font-size: 20px;

}

.foot {
  padding: 0px;
  background: #f9f7f7;
  text-align: center;
  margin: 30px;
  font-size: 20px;
  flex-direction: column;
  color: black;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  font-size: 18px;
  line-height: 1.5;
  width: 8%;
  background-color: rgb(221, 214, 214);
  color: blue;
  border: 1px solid black;
  border-radius: 10px;
}

a:hover {
  color: yellow;
  text-decoration: underline;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}